<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Nanii's Bake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo Nanii's Bake" class="logo">
        <h1>Nanii's Bake</h1>
    </header>
    <section class="hero">
        <h2>Bun venit la cofetăria noastră!</h2>
        <p>Deserturi delicioase pentru orice ocazie 🎂</p>
    </section>
    <section class="contact-card">
        <h3>Contact</h3>
        <p>Email: monica.baltes@yahoo.com</p>
        <p>Facebook: Monica Elena</p>
        <p>Instagram: moni.baltes</p>
        <p>Tick Tok: @monicaelena2308</p>
        <p>Telefon: +40 751409520</p>
        <p>Adresa: Ocna Sibiului, Sibiu</p>
    </section>
</body>
</html>
